@import './css/reset.css';
@import './css/fonts.css';
@import './css/vars.css';
@import './css/site-header.css';

body {
  font-family: sans-serif;
  height: 100%;
  font-size: 2rem;
}

.page1__video {
  width: 50%;
}

.song__container {
  width: 50%;
  background-color: lightgray;
}

.song__article {
  background-color: gray;
}
