@import './css/reset.css';
@import './css/fonts.css';
@import './css/vars.css';
@import './css/site-header.css';

body {
  font-family: sans-serif;
  height: 100%;
  font-size: 2rem;
  background: linear-gradient(135deg, #a21934 48%, #50142d 100%);
  color: #282627;
}

main {
  width: 100%;
  height: 100%;
  background-image: url(assets/img/clouds.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.logo {
  margin-top: 10%;
  margin-left: 8%;
  width: 25rem;
  height: 15rem;
  background-image: url(assets/img/logo_bl.png);
  background-repeat: no-repeat;
  background-size: 20rem;
}

.logo span {
  display: none;
}

.sidebar {
  height: 100%;
  width: 25rem;
  background-color: var(--color-white);
}

.page1 {
  justify-content: space-between;
  position: absolute;
  left: 0;
  top: 0;
}

.page1__video {
  position: fixed;
  bottom: 0%;
}

.plyr--video {
  width: 80vw;
  height: 75vh;
}

.page1__box {
  background-color: rgba(134, 23, 50, .8);
  width: 55rem;
  height: 40rem;
  position: relative;
  z-index: 1;
  margin-left: 110rem;
  margin-top: 38vh;
  display: flex;
  justify-content: flex-end;
}

.page1__textbox {
  background-color: white;
  background-image: url(assets/img/obv1.png);
  background-size: 115%;
  background-position-y: -2rem;
  background-position-x: -2rem;
  width: 42rem;
  font-weight: lighter;
  font-size: 1.4rem;
  padding: 2rem;
  line-height: 3rem;
}

.page1__textbox--titel {
  font-size: 3rem;
  line-height: 5rem;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.page1__textbox hr {
  border: none;
  border-top: .1rem solid #a21934;
  width: 4rem;
  margin-left: 0;
  padding-bottom: 1rem;
}

.page1__textbox p {
  padding-bottom: 5rem;
}

.page1__box--btn {
  text-decoration: none;
  font-size: 2rem;
  color: white;
  padding: 2.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: #a21934;
  margin-left: 10rem;
  border: .1rem solid white;
}

.plyr__control--overlaid {
  background: rgba(80, 20, 45, .8) !important;
}

.plyr__control--overlaid:hover {
  background: rgba(80, 20, 45, 1) !important;
}

.plyr--full-ui input[type='range'] {
  color: rgba(80, 20, 45, 1);
}

.plyr--video .plyr__control.plyr__tab-focus,
.plyr--video .plyr__control:hover,
.plyr--video .plyr__control[aria-expanded='true'] {
  background: rgba(80, 20, 45, 1);
}

.song__container {
  width: 50%;
  background-color: lightgray;
}

.song__article {
  background-color: gray;
  margin-top: 1rem;
}

.clip__thumbnail img,
.selected-thumbnail__img {
  width: 10rem;
}

.clip__preview {
  width: 50%;
  margin: 2rem;
}

.border {
  border: .5rem solid pink;
  margin: 1rem;
}

.thumbnail__counter {
  padding: 1rem;
  border: .2rem solid black;
  border-radius: 5rem;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

textarea {
  resize: none;
}

.song__title {
  order: -1;
}
