@import './css/reset.css';
@import './css/fonts.css';
@import './css/vars.css';
@import './css/site-header.css';

body {
  font-family: sans-serif;
  height: 100%;
  font-size: 2rem;
  background: linear-gradient(135deg, #a21934 48%, #50142d 100%);
}

main {
  width: 100%;
  height: 100%;
  background: url(assets/img/clouds.png) no-repeat center center fixed;
  background-size: 100%;
}

.logo {
  margin: 0 auto;
  width: 25rem;
  height: 15rem;
  background: url(assets/img/logo_bl.png) no-repeat;
  background-size: 100%;
}

.logo span {
  display: none;
}

.sidebar {
  height: 100%;
  width: 27rem;
  background-color: var(--color-white);
}

.page1 {
  justify-content: space-between;
  position: absolute;
  left: 0;
  top: 0;
}

.page1__video {
  width: 70%;
  position: fixed;
  bottom: 0%;
}

.page1__textbox {
  background-color: white;
  width: 50rem;
}

.plyr__control--overlaid {
  background: rgba(80, 20, 45, .8) !important;
}

.plyr__control--overlaid:hover {
  background: rgba(80, 20, 45, 1) !important;
}

.plyr--full-ui input[type='range'] {
  color: rgba(80, 20, 45, 1);
}

.song__container {
  width: 50%;
  background-color: lightgray;
}

.song__article {
  background-color: gray;
  margin-top: 1rem;
}

.clip__thumbnail img,
.selected-thumbnail__img {
  width: 10rem;
}

.clip__preview {
  width: 50%;
  margin: 2rem;
}

.border {
  border: .5rem solid pink;
  margin: 1rem;
}

.thumbnail__counter {
  padding: 1rem;
  border: .2rem solid black;
  border-radius: 5rem;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}
